name: Main

on: [push, pull_request]

jobs:
  build:
    name: Build (Windows)
    runs-on: windows-latest

    steps:
    - name: Clone repository
      uses: actions/checkout@v2

    - name: Set up LLVM
      uses: egor-tensin/setup-clang@v1
      with:
        version: latest
        platform: x64

    - name: Set up Ninja
      uses: seanmiddleditch/gha-setup-ninja@master

    - name: Create build environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -G Ninja "-DCMAKE_ASM_COMPILER=$(which clang)" "-DCMAKE_C_COMPILER=$(which clang)" "-DCMAKE_CXX_COMPILER=$(which clang++)"

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: cmake --build . --config Release

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: kOS-${{ github.run_number }}
        if-no-files-found: error
        path: |
          ${{runner.workspace}}/build/kernel/kOS.Kernel

# TODO: build an ISO and push it as another artifact
